<h2>Primitives</h2>
<ul>
  <li *ngFor="let primitive of primitivesList">
    {{ primitive[0] }} {{ primitive[1]['js'] }} {{ primitive[1]['q'] }}
  </li>
</ul>

<h2>HTML object definitions</h2>
<ul>
  <li *ngFor="let hobjectdef of hobjectdefs | async">
    {{ hobjectdef }}
  </li>
</ul>

<h3>New HTML object definition</h3>
<form id="submitHTMLdefinition">
  <label for="newhobjectdef_name">Input object definition name</label>
  <input type="text" [(ngModel)]="newhobjectdef.name"
	 name="newhobjectdef_name" id="newhobjectdef_name"
	 placeholder="new object definition name">
  <fieldset *ngFor="let input of newhobjectdef.inputs; let i = index">
    <label for="input_name_{{ i }}">Input name</label>
    <input type="text" [(ngModel)]="input.name" name="input_name_{{ i
						      }}" id="input_name_{{ i }}">
    <label for="input_hype_{{ i }}">Input type</label>
    <input type="text" [attr.list]="'hype_options_'+i" [(ngModel)]="input.hype" name="input_hype_{{ i
									  }}" id="input_hype_{{ i }}">
    <datalist id="hype_options_{{ i }}">
      <ng-container *ngFor="let typename of primitiveNames" >
	<option value="{{ typename }}">
      </ng-container>
    </datalist>

    <label for="input_primitive_{{ i }}">Primitive</label>
    <input type="checkbox" [(ngModel)]="input.primitive" name="input_primitive_{{ i
						      }}" id="input_primitive_{{ i }}">

    <label for="input_required_{{ i }}">Required</label>
    <input type="checkbox" [(ngModel)]="input.required" name="input_required_{{ i
						      }}" id="input_required_{{ i }}">

    <label for="input_quantity_{{ i }}">Quantity</label>
    <input type="number" [(ngModel)]="input.quantity" name="input_quantity_{{ i
						      }}" id="input_quantity_{{ i }}">
  </fieldset>
  <button type="button" (click)="addInput()">Add input</button>
  <button type="button" (click)="submitInputDef()">Submit input definition</button>
</form>
